#nav-c {
    position: absolute;
    text-align: center;
    margin-left: 65%;
}
#nav-c a {
    text-decoration: none;
    opacity: 0.7;
}
#nav-c h1 {
    font-size: 3em;
    text-shadow: 1px 2px black;
    color: rgb(135, 135, 205);
}
#nav-c h1:hover {
    border-right: 5px solid peachpuff;
    color: peachpuff;
    text-shadow: 0px 0px;
}

#schedule-icon {
    color: peachpuff;
    font-size: 5rem;
    text-shadow: 1px 2px black;
    padding-top: 5%;
  }
#schedule-icon:hover {
    transition: 0.45s color;
    color: peachpuff;
    transition: 0.5s transform;
    transform: rotate(275deg);
    text-shadow: 0px 0px;
  }

 #test-div {
    position: absolute; 
    border: 1px solid red; 
    width: 100px; 
    height: 100px;
 }