#nav-c {
    position: absolute;
    text-align: center;
}
#nav-c a {
    text-decoration: none;
}
#nav-c h1 {
    font-size: 5em;
    text-shadow: 1px 2px black;
    color: rgb(135, 135, 205);
    opacity: 0.7;
}
#nav-c h1:hover {
    border-right: 5px solid peachpuff;
    color: peachpuff;
    text-shadow: 2px 4px;
}

#schedule-icon {
    font-size: 8rem;
    opacity: 0.7;
    padding: 2%;
  }
#schedule-icon:hover {
    transition: 0.25s color;
    color: peachpuff;
    text-shadow: 2px 2px black;
    transition: 0.5s transform;
    transform: rotate(180deg);
    
  }